*{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
body{    
  background: url("img/login.jpg") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
   
}
.container{
	width: 800px;
	margin-left: 500px;
	margin-top: -342px;
	background-color: rgba(207,206,208,0.5) !important;
	float: right;
}
.formulario{
	background-color: rgba(244, 238, 247, 0.5) !important;
  border-radius:10px;
  margin-top:5%;
  width: 50%;
  }

.img{
	margin-top: 150px;
	margin-left: 50px;
}
.bot{
	float: right;
	margin: 10px;
	width: 45.5%;
}
/* formulario usuario*/
#form{
	margin-left: 420px;
	margin-top: 25px;
}
.muj{
	margin-left: 200px;
	margin-top: -35px;
}
.terminos{
	margin-left: 220px;
}
.boton{
 	margin-left: 550px;
}
/*form_Em*/
.empref {
  position: relative;
	float: right;
  margin: 10px;
	width: 60%;
}
.imge{
  width: 30%;
  margin left:50px
}
.regi{
  margin-left: 120px;
}
.test{
  position: relative;
  margin-left: 220px;
}
/*index*/

.hover img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
.hover div div:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.conte{
    margin-top: 100px;
}
.imgn{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.inf{
    width: 50.5%;
   position: relative;
   right: 23px;
   float: left;
   overflow: hidden;
}
.inf2{
    width: 48.5%;
    position: relative;
    right: 23px;
    float: left;
    top: -11px;
    overflow: hidden;
}
.bar{
    width: 48.58%;
    position: relative;
    right: 41.9px;
    float: right;
    overflow: hidden;
}
.bar2{
    width: 48.58%;
    position: relative;
    right:41.9px;
    float: right;
    top: -23px;
    overflow: hidden;
}
.imgn :hover .info{
display: block;
}
 div div :hover #info2{
display: block;
}
 div div :hover #info3{
display: block;
}
 div div :hover #info4{
display: block;
}
 div div :hover #info5{
display: block;
}
.info{
  position: absolute;
  top: 300px;
  left: 290px;
  width: 100%; 
  display: none;
  bottom: 0;
  z-index: 10px; 
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);
}

h5{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50%; 
  display: none;
  bottom: 0;
  z-index: 10px; 
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);
}
.info span {
  color: white;
  font: bold 25px/25px Helvetica, Sans-Serif;
  background: transparent;
  background: rgba(0, 0, 0, 0.9);
  padding: 10px;
  width: 100%;
}
h5 span{
  color: white;
  font: bold 25px/25px Helvetica, Sans-Serif;
  background: transparent;
  background: rgba(0, 0, 0, 0.9);
  padding: 5px;
  width: 80%;
}


/*nosotros*/
.conte{
	margin: 20px;
}
/*informacion*/
.login{
	width: 20%;
}
/* peluquerias*/
.img-slides{
	width: 100%;
}

.main{
  width: 80%;
  max-width: 1000px;
  margin: 200px auto auto auto;
}
.slides{
  width: 100%;
}
.slides img{
  width: 100%;
}
.slidesjs-pagination{
  background:#000000 ;
  overflow: hidden;
}
.slidesjs-pagination li{
  float: left;
}
.slidesjs-pagination li a{
  padding: 20px 20px;
  color:#fff;
  text-decoration: none;
}
.slidesjs-pagination li a:hover{
  background: #9e9e9e ;
}
.slides .active{
  background: #9e9e9e  ;
}
.slidesjs-navigation{
  background: #000000 ;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 11.5px;
  float: right;
}
.botones-pelu{
	margin: 20px;
}
/*login AndreaGuzman*/

#formulario{
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 342px;
}
#boton{
  margin-bottom: 20px;

}

#btn-crear-cuenta{
  text-transform: inherit;
  font-size: 15px;
  font-weight: lighter;
  position: relative;
  
}

.lostpass{
  font-size: 15px;
  color: #00838f;
}