<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" type="text/css" href="estilos.css">
      </head>
    <body>
    <div class="conte">
      <div class="row imgn hover">
        <div>
          <div class="col s6 ">
            <img src="img/peluquerias.jpg" class="imgn"/>
            <h3 class="info"><span>Peluqueria</span></h3>
          </div>
        </div>
        <div class="col s6">

          <div id="infantil"  >
            <img src="img/infantil.jpg" class="imgn">
            <div>
              <h5><span>Infantil</span></h5>
            </div>
          </div>

          <div  id="barberia" >
            <img src= "img/barberia.jpg" class="imgn">
            <div>
              <h5><span>Barberia</span></h5>
            </div>
          </div>
          <div id="spa" >
            <img src="img/spa.jpg" class="imgn">
            <div>
              <h5><span>Spa</span></h5>
            </div>
          </div>
          <div id="estilo"  >
            <img src="img/estilo.jpg" class=" imgn" >
            <div>
              <h5><span>Estilo</span></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
      <script type="text/javascript" src="Jquery/jquery-1.12.1.min.js"></script>
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
  </body>
</html>
